# Compiled binary

/echo

# Local environment

.env

# Editor / OS stuff

.vscode/
.idea/
*.swp
.DS_Store

# Frontend

/web/frontend/node_modules
/web/frontend/bun.lock/
/web/frontend/dist/
!/web/frontend/dist/.gitkeep
